In [2]:
import itertools
import pandas as pd
import re
import math

In [301]:
def columnas(valores,variable):
    y = [re.findall("\\d+", j)[0] for j in valores]
    y = [int(i) for i in y]
    todas = list(set(y))
    df = pd.DataFrame()
    df[f"y_{variable}"] = y
    for k in todas:
        #print(k)
        df[f"{variable}_{k}"] = ([1 if k == j else 0 for j in y])
    return df

def matrix_X(df_triangulo):
    k = len(df_triangulo.columns)
    alpha = [f'a_{i}' for i in range(1,k+1)]
    mu    = [f'u_{i}' for i in range(1,k+1)]
    lists = [alpha, mu]
    df    = pd.DataFrame(list(itertools.product(*lists)), columns=['a', 'u'])

    alpha    = columnas(valores  = df.a, variable = 'a')
    mu       = columnas(valores=df.u, variable = 'u')
    df_col= pd.concat([alpha, mu], axis=1)


    df_col['y_a'] = df_col['y_a'].astype(str) + df_col['y_u'].astype(str) 
    df_col['y_a'] = [int(i) for i in df_col['y_a']]
    df_col = df_col.drop(['y_u', 'u_1'], axis=1)
    df_col['a_1'] = 1
    df_col.rename(columns={'a_1': 'b0'}, inplace=True)
    df_col.rename(columns={'y_a': 'y_ii'}, inplace=True)
    #df_col = df_col.drop(['y_ii'], axis=1)
    return df_col


def matrix_y(df_triangulo):
    k = len(df_triangulo.columns)
    d0 = pd.DataFrame()
    for i in range(k):
        for j in range(k):
            d1 = pd.DataFrame({'y_ii': [int(f'{i+1}{j+1}')], 'Y': [math.log(df_triangulo.iloc[i, j])]})
            d0 = pd.concat([d0, d1], axis=0)
    return d0

def triangulo(df, grcode, entreno):
    
    if entreno:
        df_trinagulo = df[(df['GRCODE']== grcode ) & (df['DevelopmentYear']<=1997)].copy()
    else: 
        df_trinagulo = df[df['GRCODE']== grcode].copy()
        
    df_g         = df_trinagulo.groupby(["AccidentYear", "DevelopmentLag"]).agg({'IncurLoss_F2': ['max']})
    df_g.columns = ['Pagos']
    df_g         = df_g.reset_index()
    pivot_data   = df_g.pivot(index='AccidentYear',columns='DevelopmentLag',values='Pagos').reset_index()
    pivot_data   = pivot_data.drop('AccidentYear', axis=1).cumsum(axis=1)
    
    return pivot_data

In [302]:
df_data        = pd.read_csv('medmal_pos.csv')
df_trg_entreno = triangulo(df_data, grcode=669, entreno=True)
df_trg_prueba  = triangulo(df_data, grcode=669, entreno=False)
df_trg_entreno

DevelopmentLag,1,2,3,4,5,6,7,8,9,10
0,121905.0,234116.0,337342.0,436941.0,532947.0,623434.0,706074.0,786480.0,865400.0,943911.0
1,122679.0,235844.0,345881.0,447023.0,537840.0,619759.0,697250.0,770827.0,843543.0,NaN
2,118157.0,235654.0,352031.0,451926.0,541178.0,623094.0,702228.0,778561.0,NaN,NaN
3,117981.0,240424.0,361480.0,475275.0,578105.0,676176.0,771046.0,NaN,NaN,NaN
4,131059.0,261214.0,385409.0,499383.0,606200.0,705382.0,NaN,NaN,NaN,NaN
5,134700.0,265457.0,390710.0,505427.0,616721.0,NaN,NaN,NaN,NaN,NaN
6,136749.0,264941.0,386296.0,498173.0,NaN,NaN,NaN,NaN,NaN,NaN
7,140962.0,273367.0,391699.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,134473.0,263453.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,137944.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [303]:
Y = matrix_y(df_trg_entreno)
X = matrix_X(df_trg_entreno)
Y_X = pd.merge(Y, X, on='y_ii', how='inner')
data_entreno = Y_X[Y_X['Y'].notna()]
data_entreno = data_entreno.drop(['y_ii'], axis=1)
data_prueba_  = pd.merge(matrix_y(df_trg_prueba), Y_X[Y_X['Y'].isna()].drop(['Y'], axis=1), on='y_ii', how='inner')
data_prueba=data_prueba_.drop(['y_ii'], axis=1)
y_ii = data_prueba_['y_ii']

Modelo

In [306]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

x_entreno = data_entreno.drop('Y', axis=1)  # Features
y_entreno = data_entreno['Y']  # Target variable
x_prueba  = data_prueba.drop('Y', axis=1)  # Features
y_prueba  = data_prueba['Y']  # Target variable


model = LinearRegression()
model.fit(x_entreno, y_entreno)

y_pred = model.predict(x_prueba)
mse = mean_squared_error(y_prueba, y_pred)
mse

0.002181368015287974

In [307]:
y_prueba = [math.exp(i) for i in y_prueba]
y_pred   = [math.exp(i) for i in y_pred]
mse = mean_squared_error(y_prueba, y_pred)
mse

1401952546.7690623